

#: Python
*.orig
*.npy
*.pyc
*.*~
*_flymake.py
*.ipynb

#: Results
*.mp4
*.html
*.h5
*.pickle
*.csv

*.egg-info
__pycache__/*

#: Do not ignore figures folder
!figures/*

#: Docs
docs/build
docs/source/_build
logs/
interp_data/
results/*
make.bat
*.txt

# VS Code
*.vscode

# FARMS
FARMS/farms_*
FARMS/dm_control
