
# --- Core ---
setuptools
numpy
scipy
matplotlib
h5py
scikit-image
tqdm
imageio
opencv-python
trimesh
open3d
scikit-fmm
pytorch_interpolation @ git+https://github.com/ferrarioa5/pytorch_interpolation.git
seaborn
plotly
scikit-learn
pyvista

# --- Optional (uncomment as needed) ---
# sdf @ git+https://github.com/fogleman/sdf.git
# petsc4py
# mpi4py
# jax
# bezier
# pyamg
# pybullet
# pymeshlab
# meshpy
# pytorch-kinematics
# pytorch-volumetric
# fastsweep
# pyro-ppl
# torch-dct
# pandas

